

# Credenciales y configuracion local
.env
credenciales.py

# Datos
Archivos/
OLD/
data/
*.parquet
*.csv
*.xlsx
*.mdb
*.zip

# Python
__pycache__/
*.pyc
venv/
.venv/

# Logs
logs/
*.log

# Power BI
*.pbix

# Variantes de .env

.env.*
!.env.example

# Sistema operativo
desktop.ini
Thumbs.db
